:root {
    --primaryColor: #124881;
    --secondaryColor: #3774aa;
    --cardColor: #96b1cb;
    --backgroundColor: #cedded; 
}

.Home {
    position: relative;
    min-height: 100vh;
}

.home-description {
    padding-left: 20px;
    font-size: 18px;
}

.quiz-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}