
.pages-title{
    padding-left: 20px;
    color: var(--primaryColor);
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 50px;
}