.contact-button {
    position: absolute;
    top: 350px;
    left: 470px;
    background-color: rgb(133, 243, 223);
    border-radius: 15px;
}

.link-button {
    position: absolute;
    top: 555px;
    left: 210px;
    background-color: rgb(133, 243, 223);
    border-radius: 15px;
}

.legitimate-button {
    position: absolute;
    top: 790px;
    left: 200px;
    background-color: rgb(133, 243, 223);
    border-radius: 15px;
}

.dialogheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.dialogtext {
    font-size: 25px;
}

.header-desc {
    padding-left: 50px;
    font-size: 20px;
}