.contact-button {
    position: absolute;
    top: 370px;
    left: 700px;
    background-color: rgb(133, 243, 223);
    border-radius: 15px;
}

.link-button {
    position: absolute;
    top: 550px;
    left: 400px;
    background-color: rgb(133, 243, 223);
    border-radius: 15px;
}

.legitimate-button {
    position: absolute;
    top: 760px;
    left:550px;
    background-color: rgb(133, 243, 223);
    border-radius: 15px;
}

.dialogheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.dialogtext {
    font-size: 25px;
}
