:root {
    --primaryColor: #124881;
    --secondaryColor: #3774aa;
    --cardColor: #96b1cb;
    --backgroundColor: #cedded; 
}

.footer {
    background-color: var(--primaryColor);
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 1.2rem;  
    display: flex;
    flex-direction: row; 
    position: fixed;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer .links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    justify-content: flex-end;
  }
  
  .footer .links a:hover, .footer .social-media a:hover {
    text-decoration: underline;
  }
  